<% provide :title, (t".title") %>
<div>
  <div class="page-title">
    <div class="title_left">
      <h3>
        <small><%= t ".title" %></small>
      </h3>
    </div></br>
  </div>
</div>
<%= render "form" %>
