$gray_white: #DDD;
$black_gray: #222;
$white: #FFF;
$black_light: rgba(0, 0, 0, 0.4);
$red: red;
$gray_light: #AAA;
$purple_light: #707dc9;
$purple: rgb(101, 101, 212);
$blue_light: #55ACEE;
$orange: #DD4B39;
$black: black;
$gray: gray;
$orange_light: #F28123;
$blue: blue;
$light: rgba(156, 39, 176, 0);
