@import 'color';
.breadcrumb-section {
  background-image: url(/assets/img/news-bg-1.jpg);
}
.tracking-detail {
  padding:3rem 0
 }

 .pagi-bottom {
   margin-bottom: 20px;
 }

 #tracking {
  margin-bottom:1rem;
  margin-top: 50px;
 }

 [class*=tracking-status-] p {
   margin:0;
   font-size:1.1rem;
   color:$white;
   text-transform:uppercase;
   text-align:center
 }

 [class*=tracking-status-] {
   padding:0.6rem 0
 }

 .tracking-list {
   border:1px solid $black
 }

 .tracking-item {
   border-left:1px solid $black;
   position:relative;
   padding:2rem 1.5rem .5rem 2.5rem;
   font-size:.9rem;
   margin-left:3rem;
   min-height:5rem
 }

 .tracking-item:last-child {
   padding-bottom:4rem
 }

 .tracking-item .tracking-date {
   margin-bottom:.5rem
 }

 .tracking-item span {
   color:$black;
   font-size:100%;
   padding-left:.4rem
 }

 .tracking-item .tracking-content {
   padding:.5rem .8rem;
   background-color:$black;
   border-radius:.5rem
 }

 .tracking-item .tracking-content span {
   display:block;
   color:$black;
   font-size:100%
 }

 .tracking-item .tracking-icon {
   line-height:2.6rem;
   position:absolute;
   left:-1.3rem;
   width:2.6rem;
   height:2.6rem;
   text-align:center;
   border-radius:50%;
   font-size:1.1rem;
   background-color:$white;
   color:$white
 }
 .tracking-item .tracking-icon.status-intransit {
   color:$black;
   border:1px solid $black;
   font-size:.6rem
 }

 @media(min-width:992px) {
    .tracking-item {
     margin-left:10rem
   }
   .tracking-item .tracking-date {
     position:absolute;
     left:-10rem;
     width:7.5rem;
     text-align:right
   }
   .tracking-item .tracking-date span {
     display:block
   }
   .tracking-item .tracking-content {
     padding:0;
     background-color:transparent
   }
 }
